<!-- navbar.html -->

<nav class="menu" id="menu">
  <div class="menu-group">
    
    <a href="#home" class="menu-item">Home</a>

    <div class="menu-item has-dropdown">
      <span>Sobre</span>
      <div class="dropdown">
        <a href="#mission">Nossa Missão</a>
        <a href="#plans-summary">Planos</a>
        <a href="#locations">Unidades</a>
      </div>
    </div>

    <div class="menu-item has-dropdown">
      <span>Classes</span>
      <div class="dropdown">
        <a href="#boxing">Musculação</a>
        <a href="#swimming">Spinning</a>
        <a href="#powerlifting">Hitbox</a>
      </div>
    </div>

    <a href="#contact" class="menu-item">Contato</a>
    
  </div>

  <div class="menu-item join-now open-access-modal">Entre na Vibe</div>
</nav>